 
 <div class="card border-primary mt-1 mx-auto col-6">
    <div class="card-header row">
        <div class="mx-auto">
            <h1 class="text-center">Login</h1>
        </div>
    </div>
    <div class="card-body mx-auto">
        <%=render 'login'%>
    </div>
</div>
