<div class="container">
    <div class="card border-primary mt-2 mx-auto col-8">
        <div class="card-header row">
            <div class="mx-auto">
                <h1 class="text-center">Answer question <%= #{ 3 } %></h1>
            </div>
        </div>
        <div class="card-body">
            <%=render 'new'%>
        </div>
    </div>
</div>

